@{
    ViewData["Title"] = "Book Details";
}
 @model ProductViewModel
 <form>
     @if(Model.Product is not null)
    {
        <div class="card text-white bg-secondary border-primary mb-3">
            <h5 class="card-header" title="Book Title" style="height: 7rem;">@Model.Product.Title</h5>
            <img class="card-img-top align-self-center" src="https://cdn.pixabay.com/photo/2016/03/31/18/27/book-1294379_1280.png" alt="image of book" style="width: 18rem;" />
            <div class="card-body">
                <h5 class="card-title" title="Book Author">@Model.Product.Author</h5>
                <h4 class="card-title" title="Price">$@Model.Product.Price</h4>
                <p class="card-text">@Model.Product.Annotation</p>
                <p class="card-text">Language: @Model.Product.Language</p>
                @if (Model.Product.Link.IsAbsoluteUri && !Model.Product.Link.ToString().Equals("about:blank"))
                {
                    <a href="@Model.Product.Link" class="card-link">Look at another site</a>
                }
                <a class="btn btn-primary" title="Return back to previous page" href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
                <a class="btn btn-primary" title="Add book into Order" href=@Url.ActionLink("AddToOrder", "Home", new {@Model.Product.Id})>Add to Order</a>
                <br />
                <a class="btn btn-primary" title="Click to observe our rich library" href=@Url.ActionLink("More", "Home")>Observe more Books</a>
            </div>
            <div class="card-footer text-light" title="Book Genres" style="height: 5rem;">
                @foreach (string genre in Model.Product.Genres!)
                {
                    <a class="card-link text-light text-nowrap" href="#">@genre</a>
                }
            </div>
        </div>

    }
</form>
