@using BookShop.WebApplication.Models.ViewsModels
@{
    ViewData["Title"] = "Books Shop";  
}
 @model ViewModel
<form id="filter-form" name="filter-form" asp-action="Filtered">
   
    @if (Model.Genres is not null)
    {
       <select class="form-select form-select-lg mb-3" id="genre" name="genre">
            <option value="any" selected>any</option>
            @foreach (string genre in Model.Genres)
            {  
                <option value="@genre" id="@genre">@genre</option>
            }
        </select>
    }
 
    <select class="form-select form-select-lg mb-3" id="isAcsending" name="isAcsending">
         <option value="false" selected>Descending</option>
         <option value="true">Acsending</option>
    </select>

    <select class="form-select form-select-lg mb-3" id="quantity" name="quantity">
        <option value="6" selected>6</option>
        <option value="15">15</option>
        <option value="24">24</option>
    </select>

    <button class="btn btn-primary" tytle="Apply Filters" type="submit">Submitt</button>
</form>

<form id="search-form" name="search-form" asp-action="Search">
    <input type="text" id="search" name="search" />
    <button class="btn btn-primary" tytle="Search" type="submit">Search</button>
</form>

<form id="products-table" name="products-table">
    <div class="row">
        
        @if (Model.ProductViewModel.Products is not null)
        {
            @foreach (Product book in Model.ProductViewModel.Products)
            {
                <div class="col-sm-4">
                    <div class="card text-white bg-secondary border-primary mb-3">
                        <h5 class="card-header" title="Book Title" style="height: 7rem;">@book.Title</h5>
                        <img class="card-img-top align-self-center" src="https://cdn.pixabay.com/photo/2016/03/31/18/27/book-1294379_1280.png" alt="image of book" style="width: 18rem;" />
                        <div class="card-body">
                            <h5 class="card-title" title="Book Author">@book.Author</h5>
                            <h4 class="card-title" title="Price">$@book.Price</h4>
                            <a class="btn btn-primary" title="Explore more about: &#10; `@book.Title`" href=@Url.ActionLink("Details", "Home", new {@book.Id})>Details</a>
                            <a class="btn btn-primary" title="Add book into Order" href=@Url.ActionLink("AddToOrder", "Home", new {@book.Id})>Add to Order</a>
                        </div>
                        <div class="card-footer text-light" title="Book Genres" style="height: 5rem;">
                            @foreach (string genre in book.Genres!)
                            {
                                <a class="card-link text-light text-nowrap" href="#">@genre</a>
                            }

                        </div>
                    </div>

                </div>
            }
        }
    </div>
    @if (Model.PageViewModel.GetTotalPages() > 1)
    {
        
    }
</form>
<form name="pages" id="pages">
    <div class="btn-toolbar" role="toolbar" aria-label="Pages">
        @for (int i = 1; i != Model.PageViewModel.GetTotalPages() + 1; i++)
        {
            @if (i == Model.PageViewModel.currentPage)
            {
                <a class="btn btn-primary btn-sm disabled" role="button" title="Current Page" aria-disabled="true">@i</a>
            }
            else
            {
                <a class="btn btn-primary btn-sm" title="Page @i" href=@Url.ActionLink("Shop", "Home", new {page = @i})>@i</a>
            }
        }
    </div>
</form>
